/* Montserrat Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body{
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

#header{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8) ), url('../assets/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg');    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.overflowhidden{
    overflow-y: hidden;
}

/* Navbar Section */
.navbar{
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    z-index: 9999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 8%;
    padding: 8px 0;
}
.nav-logo img{
    width: 48px;
}
.nav-items{
    display: flex;
    align-items: center;
}
.nav-items ul li {
    list-style: none;
    display: inline-block;
}
.nav-items ul li a{
    position: relative;
    text-decoration: none;
    color: #003333;
    margin: 0 35px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    transition: width 0.3s ease-out; 
}
.nav-items ul li a:hover{
    color: #6666FF;
}
.nav-items ul li a:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 2px;
	background-color: #6666FF;
	content: "";
	transition: width 0.3s ease-out; 
}
.nav-items ul li a:hover:after,
.nav-items ul li a:focus:after {
	width: 100%;
}
.login-btn{
    width: 98px;
    height: 40px;
    border-radius: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #6666FF;
    border: 2px solid #6666FF;
    cursor: pointer;
    margin-right: 30px;
    transition: 0.3s all;
    background: transparent; 
}
.login-btn:hover{
    background-color: #6666FF;
    color: #FFFFFF;
}
.signup-btn{
    width: 98px;
    height: 40px;
    background: #6666FF;
    border-radius: 20px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s all; 
}
.signup-btn:hover{
    color: #6666FF;
    border: 1px solid #6666FF;
    background: transparent;
}

/* Header Section */
.header-content{
    margin: 0% 8% 0 8%;
    display: flex;
    padding-top: 18%;
}
.header-title{    
    width: 570px;
    height: 135px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    color: #FFFFFF;
}
.header-subtitle{
    width: 227px;
    height: 37px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #6666FF;
    padding-bottom: 10px;
}
.header-text{
    width: 568px;
    height: 79px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.header-btn-group{
    display: flex;
    margin: 56px 0;
}
.header-start-btn{
    width: 182px;
    height: 52px;
  
    background: #6666FF;
    border-radius: 25px;
    border: none;
    transition: 0.3s all; 
    cursor: pointer;
    margin-right: 40px;
}
.header-start-btn:hover{
    border: 1px solid #6666FF;
    background: transparent;
}
.header-start-btn a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}
.header-start-btn a:hover{
    color: #6666FF;
}
.header-video-btn{
    width: 200px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    cursor: pointer;
}
.play-button{
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 52px;
    height: 52px;   
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 22px;
}
.header-play-span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

/* Login */
.signup-login-box{
    position: fixed;               
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 150;
}
#wrapper{
    font-family: 'Montserrat';
    position: relative;
    width: 400px;
    height: 440px;
    background: #FFFFFF;
    border: 2px solid rgba(225, 225, 225, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: none;
    transition: transform .5s ease, height .2s ease;
}
.active-input-box{
    height: 520px !important;
}
.active-popup{
    display: flex !important;
}
#wrapper .form-box.register{
    position: absolute;
    transform: translateX(400px);
}
#wrapper .form-box{
    width: 80%;
    padding: 40px;
}
#wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}
#wrapper.active-input-box .form-box.login{
    transition: none;
    transform: translateX(-400px);
}
#wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
#wrapper.active-input-box .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}
.icon-ib img{
    width: 15px;
}
.form-box{
    width: 100%;
    padding: 40px;
}
.form-box h2{
    font-size: 2em;
    color: #003333;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    border: 50px;
    border-bottom: 2px solid #003333;
    margin-bottom: 40px;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #003333;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
    font-size: 'Montserrat';
    padding-bottom: 8px;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -8px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #003333;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon-ib{
    position: absolute;
    right: 8px;
}
.remember-forgot{
    font-size: .9em;
    color: #003333;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: #003333;
    margin-left: 3px;
}
.remember-forgot a{
    color: #003333;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline
}
.input-box-btn{
    width: 100%;
    height: 45px;
    background: #0066CC;
    border: none;
    outline: none;
    border-radius: 6px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
    font-family: 'Montserrat';
}
.login-register{
    font-size: .9em;
    color: #003333;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color: #003333;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}
.close-input-icon{
    position: absolute;
    top: 0;
    right: 0;
    background: #0066CC;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.close-input{
    width: 20px; 
}
.close-input-icon button{
    border: none;
    outline: none;
    background: transparent;
    height: 100%;
    width: 100%;
}

/* Playing Video by clicking Button  */
#pvbcb{
    display: none;
}
.pvbcb-active{
    display: block !important;
}
.body-shadow{
    filter: blur(5px);
}
.clicked-video-btn{
    box-shadow: 18px 18px 18px 18px rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    position: fixed;
    margin: 2% 10%;
    width: 80%;
    height: 90%;
    top: 0;
    z-index: 9999;
    border-radius: 1%;
    opacity: 0;
    animation: ani 2.5s forwards;
}
@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.close-clicked-vide-btn {
    width: 2em;
    height: 2em;
    background-color: #0066CC;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    position: fixed;
    top: 20px;
    right: 50px;
    cursor: pointer;
    transition: .2s all;
    z-index: 99990;
}
.close-clicked-vide-btn:hover{
    background-color: rgb(136, 31, 31);
}

/* Header Right */
.header-ellips{
    position: absolute;
    width: 531px;
    height: 531px;
    left: 800px;
    top: 183px;
    background: #76BAE1;
    border-radius: 50%;
}
.header-teacher{
    z-index: 0;
    position: relative;
    height: 550px;
    left: 150px;
    bottom: 0;
}


/* Sidebar */
.sidebar{
    display: none;
    position: fixed;
    width: 42px;
    height: 39px;
    top: 10px;
    right: 8%;
    background: #76BAE1;
    border-radius: 6px;
    z-index: 999999;
}
.menu-group{
    padding-top: 5px;
}
#menu{
    cursor: pointer;
    width: 22px;
    height: 3px;
    background: #FFFFFF;
    border-radius: 6px;
    margin: 5px auto 5px auto;
}
.action-menu{
    z-index: -9999;
    position: fixed;
    top: 0px;
    right: -300px;
    width: 260px;
    height: 100vh;
    background: #003333;
    transition: all 700ms;
    margin-left: 5%;
    padding-top: 15%;
}
.active{
    right: 0px;
}
.action-menu ul li{
    list-style: none;
    margin: 10px 0;
    text-align: center;
}
.action-menu ul li a{
    text-decoration: none;
    position: relative;
    color: #FFFFFF;
    margin: 0 54px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    transition: width 0.3s ease-out; 
}
.action-menu ul li a:hover{
    color: #6666FF;
}
.action-menu ul li a:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 2px;
	background-color: #6666FF;
	content: "";
	transition: width 0.3s ease-out; 
}
.action-menu ul li a:hover:after,
.action-menu ul li a:focus:after {
	width: 100%;
}
.sidebar-btn-group{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
}
.test{
    width: 100% !important;
    margin: 10px 20px;
    border: 2px solid #FFFFFF;
}
.sidebar-contact{
    position: absolute;
    bottom: 15%;
    color: #FFFFFF;
    text-align: center;
}
.mail-sidebar{
    color: #FFFFFF;
    margin: 10px 20px;
}
.mail-sidebar span a{
    color: #FFFFFF;
    text-decoration: none;
}
.phone-sidebar{
    margin: 10px 20px;
}
.location-sidebar{
    margin: 10px 20px;
}
.sidebar-logo{
    position: relative;
    left: 23%;
    top: 11%;
}
.sidebar-logo-img{
    width: 130px;
    border-radius: 12px;
}
.sidebar-none{
    display: none !important;
}


/* About Section */
#about{
    z-index: 9999999;
    background-color: #FFFFFF;
}
.about-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 123px 0;
}
.about-left{
    position: relative;
}
.about-img{
    width: 500px;
    position: relative;
    bottom: 70px;
    right: 100px;
    z-index: 1;
}
.black-about-rentangle{
    position: relative;
    top: 5px;
    left: 230px;
    width: 208px;
    height: 134px;
    background: #003333;
    border-radius: 30px;
}
.border-about-rentangle{
    position: absolute;
    width: 450px;
    height: 320px;
    border: 2px solid #6666FF;
    border-radius: 40px;
    top: 180px;
    right: 200px;
    z-index: 0;
}
.section-about-name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #6666FF;
    margin-bottom: 25px;
}
.about-right{
    position: relative;
    left: 100px;
}
.about-title{
    width: 464px;
    height: 95px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    margin-bottom: 17px;
}
.about-text{
    width: 526px;
    height: 334px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
.about-button{
    width: 266px;
    height: 55px;
    background: #6666FF;
    border-radius: 30px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 30px;
    transition: 0.3s all;
}
.about-button:hover{
    border: 1px solid #6666FF;
    background: transparent;
    color: #6666FF;
}
.about-mobile{
    display: none;
    margin: 0 8%;
}
.about-mobile-img{
    width: 100%;
    margin-top: 20%;
}
.about-mobile-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
}
.about-mobile-info-span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    color: #000000;
    margin-left: 10px;
}

/* Courses Section */
#courses{
    background: #EDEEF3;
}
.courses-content{
    margin: 0 8%;
    padding: 10% 0; 
}
.courses-section-name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #6666FF;
    margin-bottom: 18px;
}
.courses-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #003333;
    margin-bottom: 14px;
}
.course-box{
    width: 300px;
    height: 550px;
    background: #FFFFFF;
    border-radius: 32px;
    padding: 20px 28px;
    margin-top: 38px;
    transition: height .2s ease;
    font-family: 'Montserrat';
}
.course-name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
    margin-top: 32px;
}
.course-price{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top: 22px;
}
.course-logo{
    display: flex;
    align-items: center;
}
.course-box-img{
    width: 100%;
    border-radius: 20px;
}
.course-logo-img{
    width: 35px;
    height: 35px;
}
.course-logo-span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-left: 10px;
}
.course-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 10px;
    margin: 15px 0;
}
.register-button{
    background-color: #6666FF;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.register-button:hover{
    background-color: #76BAE1;
}
.course-group-box{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
}

.more-info-course-btn{
    cursor: pointer;
    border: none;
    background: none;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.catext{
    font-size: 14px;
}
.course-info-height-auto{
    height: auto !important;
}
#more-info-course-img-d1{
    width: 20px;
    margin: 0 10px;
    transition: 0.3s all;
}
.more-info-course-img-d1-rotated{
    transform: rotate(180deg);
}
#course-csharp-d1{
    display: none;
}
.course-csharp-d1{
    display: block !important;
}
#more-info-course-img-d2{
    width: 20px;
    margin: 0 10px;
    transition: 0.3s all;
}
.more-info-course-img-d2-rotated{
    transform: rotate(180deg);
}
#course-ccna-d2{
    display: none;
}
.course-ccna-open-d2{
    display: block !important;
}
#more-info-course-img-d3{
    width: 20px;
    margin: 0 10px;
    transition: 0.3s all;
}
.more-info-course-img-d3-rotated{
    transform: rotate(180deg);
}
#course-hdesk-d3{
    display: none;
}
.course-hdesk-open-d3{
    display: block !important;
}
#more-info-course-img-d4{
    width: 20px;
    margin: 0 10px;
    transition: 0.3s all;
}
.more-info-course-img-d4-rotated{
    transform: rotate(180deg);
}
#course-linux-d4{
    display: none;
}
.course-linux-open-d4{
    display: block !important;
}
#more-info-course-img-d5{
    width: 20px;
    margin: 0 10px;
    transition: 0.3s all;
}
.more-info-course-img-d5-rotated{
    transform: rotate(180deg);
}
#course-itadmin-d5{
    display: none;
}
.course-itadmin-open-d5{
    display: block !important;
}
#more-info-course-img-d6{
    width: 20px;
    margin: 0 10px;
    transition: 0.3s all;
}
.more-info-course-img-d6-rotated{
    transform: rotate(180deg);
}
#course-fullstack-d6{
    display: none;
}
.course-fullstack-open-d6{
    display: block !important;
}


/* Courses Mobile Version Styles */
#csmb{
    display: none;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #76BAE1;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}
#more-info-course-img{
    width: 20px;
    margin: 0 10px;
    transition: 0.3s all;
}
.more-info-course-img-rotated{
    transform: rotate(180deg);
}
#course-csharp{
    display: none;
}
.course-csharp-open{
    display: block !important;
}
#course-ccna{
    display: none;
}
.course-ccna-open{
    display: block !important;
}
#more-info-course-img2{
    width: 20px;
    margin: 0 10px;
    transition: 0.3s all;
}
.more-info-course-img-rotated2{
    transform: rotate(180deg);
}
#course-helpdesk{
    display: none;
}
.course-helpdesk-open{
    display: block !important;
}
#more-info-course-img3{
    width: 20px;
    margin: 0 10px;
    transition: 0.3s all;
}
.more-info-course-img-rotated3{
    transform: rotate(180deg);
}
#course-linuxrhcsa{
    display: none;
}
.course-linuxrhcsa-open{
    display: block !important;
}
#more-info-course-img4{
    width: 20px;
    margin: 0 10px;
    transition: 0.3s all;
}
.more-info-course-img-rotated4{
    transform: rotate(180deg);
}
#course-itadmin{
    display: none;
}
.course-itadmin-open{
    display: block !important;
}
#more-info-course-img5{
    width: 20px;
    margin: 0 10px;
    transition: 0.3s all;
}
.more-info-course-img-rotated5{
    transform: rotate(180deg);
}

#course-frontend{
    display: none;
}
.course-frontend-open{
    display: block !important;
}
#more-info-course-img6{
    width: 20px;
    margin: 0 10px;
    transition: 0.3s all;
}
.more-info-course-img-rotated6{
    transform: rotate(180deg);
}

/* Why We Section */
.whywe-content{
    margin: 8% 8%;
    position: relative;
}
.whywe-top{
    margin: 8% 0;
}
.why-top-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: #003333;
    margin-bottom: 15px;
}
.why-top-subtitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
.whywe-bottom{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}
.whywe-bottom-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #003333;
    margin-top: 15px;
}
.whywe-subtitle-bottom{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #003333;
    margin-top: 15px;
    width: 340px;
}
.wbf{
    position: relative;
    text-align: center;
    padding: 25px;
}

/* Gallery Slide Images */
#gallerySliderSection{
    padding: 8% 8%;
}
.gallery-slideshow-container {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
.slide1{
    background: url("../assets/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg");
    background-size: cover;
    height: 65vh;
}
.slide2{
    background: url("../assets/luca-bravo-XJXWbfSo2f0-unsplash.jpg");
    background-size: cover;
    height: 65vh;
}
.slide3{
    background: url("../assets/ilya-pavlov-OqtafYT5kTw-unsplash.jpg");
    background-size: cover;
    height: 65vh;
}
.dot {
    height: 8px;
    width: 28px;
    margin: 0 2px;
    background-color: #D9D9D9;
    border-radius: 15px;
    display: inline-block;
    transition: background-color 0.6s ease;
} 
.active {
    background-color: #0066CC;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

/* Help in Choose */
#helpInChoose{
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6) ), url('../assets/hic.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 75vh;
    padding-top: 20%;
}
.help-in-choose-title{
    font-size: 32px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
    margin-bottom: 25px;
}
.help-in-choose-subtitle{
    font-size: 26px;
    color: #6666FF;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 600;
    width: 800px;
    margin: 0 auto 15px auto;
}
.help-in-choose-text{
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    width: 620px;
    margin: auto;
}
.help-in-choose-link{
    margin: 100px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6666FF;
    border-radius: 22px;
    border: 3px solid #6666FF;
    width: 400px;
    height: 65px;
    position: relative;
    transition: 0.3s all;
}
.hic-link-img{
    height: 28px;
    position: absolute;
    right: 0;
    margin-right: 25px
}
.help-in-choose-link a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 22px;
    width: 100%;
    height: 100%;
    position: relative;
    left: -15px;
    z-index: 2;
}
.help-in-choose-link:hover{
    width: 455px;
    background: transparent;
}
.help-in-choose-link a:hover~.hic-link-img{
    transform: translateX(5px);
}
.help-in-choose-content{
    margin: 0 8%;
}

/* Contact Section Style */
.contact-content{
    margin: 0 8%;
    padding: 5% 0;
}
.contact-section-name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #6666FF;
    text-align: center;
    margin-bottom: 20px;
}
.contact-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #003333;
    text-align: center;
}
.cl-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 37px;
    color: #003333;
    margin-bottom: 22px;
}
.cl-subtitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #003333;
    width: 361px;
}
.cc-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 37px;
    color: #003333;
    margin-bottom: 22px;
}
.cc-subtitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #003333;
}
.location-icon{
    width: 65px;
    height: 65px;
    background: #E3B4B4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 39px;
    margin-top: 20px;
}
.customer-icon{
    width: 65px;
    height: 65px;
    background: #B4B9E3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 39px;
    margin-top: 20px;
}
.contact-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin: 128px 0;
}
.support-img{
    width: 600px;
    margin: 36px 0;
}
.contact-location{
    display: flex;
    margin-bottom: 80px;
}
.contact-call{
    display: flex;
}

/* Google Map */
.google-map{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Footer Section */
#footer{
    background-color: #132742;
}
.footer-content{
    margin: 0 8%;
    padding: 5% 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
.footer-logo{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 236px;
    height: 72px;
    background: #FFFFFF;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #003333;
}
.footer-logo-img{
    width: 50px;
    margin-right: 8px;
}
.footer-left-subtitle{
    margin-top: 19px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.footer-followus{
    margin-top: 61px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.footer-social{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #0066CC;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s all;
}
.footer-social:hover{
    background: #193354;
}
.social-icons-grup{
    display: flex;
}
.footer-social a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-middle-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 5px
}
.footer-items{
    position: relative;
    right: 40px;
}
.footer-items ul li{
    list-style: none;
    margin: 19px 0;
}
.footer-items ul li a{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.mail-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 294px;
    height: 47px;
    background: #D9D9D9;
    border-radius: 20px;
    position: relative;
}
.footer-mail-btn{
    width: 128px;
    height: 47px;
    background: #6666FF;
    border-radius: 20px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    position: absolute;
    right: 0;
    top: 0;
}
.footer-mail-input{
    width: 130px;
    border: none;
    outline: none;
    background: transparent;
    position: relative;
    left: 20px;
}
.footer-mail-input:focus {
    color: #fff;
    background: transparent;
    border: none;
}
.footer-mail-input::placeholder{
    color: #003333;
    font-family: 'Montserrat';
    font-weight: 400;
}
.footer-contact{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-top: 44px;
}

/* Scroll Top Button */
#scroll-btn {
    opacity: 0;
    width: 60px;
    height: 50px;
    color: #ffffff;
    background-color: #6666FF;
    position: fixed;
    bottom: 0;
    right: 30px;
    border: 2px solid #0066CC;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font: bold 20px monospace;
    transition: opacity 0.5s, transform 0.5s;
    cursor: pointer;
  }
  #scroll-btn.show {
    opacity: 1;
    transition: opacity 1s, transform 1s;
  }


/* SignUp Desktop */
.signup-d{
    background: url('../assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    text-align: center;
}
.signup-d-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right-signup-d{
    width: 723px;
    height: 800px;
    background: #FFFFFF;
    border-radius: 100px 0px 0px 100px;
}
.rsignup-d-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
    margin-top: 113px;
    margin-bottom: 17px;
}
.rsignup-d-name{
    margin-top: 42px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 10px;
    width: 400px;
    height: 65px;
    border: 2px solid #D9D9D9;
}
#rsudname{
    outline: none;
    border: none;
    border-radius: 10px;
    width: 350px;
    height: 60px;
    margin-left: 20px;
}
#rsudname::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #D9D9D9;
}
.rsignup-d-mail{
    margin-top: 42px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 10px;
    width: 400px;
    height: 65px;
    border: 2px solid #D9D9D9;
}
#rsudmail{
    outline: none;
    border: none;
    border-radius: 10px;
    width: 350px;
    height: 60px;
    margin-left: 20px;
}
#rsudmail::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #D9D9D9;
}
.rsignup-d-password{
    margin-top: 42px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 10px;
    width: 400px;
    height: 65px;
    border: 2px solid #D9D9D9;
}
#rsudpassword{
    outline: none;
    border: none;
    border-radius: 10px;
    width: 350px;
    height: 60px;
    margin-left: 20px;
}
#rsudpassword::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #D9D9D9;
}
.checkbox-group-signup{
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #7A7A7A;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}
#rsudcheck{
    width: 25px;
    height: 25px;
    background: #6666FF;
    margin: 10px;
}
.rsignup-d-button {
    cursor: pointer;
    transition: 0.3s all;
    width: 400px;
    height: 65px;
    background: #6666FF;
    border-radius: 20px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 45px;
    margin-bottom: 15px;
}
.rsignup-d-with{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7A7A7A;
}
.rsignup-d-ways{
    margin-top: 10px;
}
.rsignup-d-bottom{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7A7A7A;
    margin-top: 20px;
}

/* Adaption Version */
@media (max-width:1000px){
    .nav-items{
        display: none;
    }
    .nav-btn-group{
        display: none;
    }
    .sidebar{
        display: block;
    }
    .header-right{
        display: none;
    }
    .header-left{
        width: 100%;
        margin: 5% 0;
    }
    .header-title{
        text-align: center;
        width: 100%;
        height: auto;
    }
    .header-subtitle{
        text-align: center;
        width: 100%;
        margin: 15px 0;
    }
    .header-text{
        text-align: center;
        width: 80%;
        margin: auto;
    }
    .header-btn-group{
        display: block;
    }
    .header-start-btn{
        width: 100%;
        margin: 15px 0;
    }
    .header-video-btn{
        background: #76BAE1;
        border-radius: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: 0.3s all;
    }
    .header-video-btn:hover{
        background: transparent;
        border: 1px solid #76BAE1;
    }
    .play-button{
        border-radius: 20px;    
        width: 47px;
        height: 41px;
    }
    .header-play-span{
        margin-right: 38%;
    }
    /* .clicked-video-btn{
        margin: 50% 8%;
    } */

    /* About */
    .about-content{
        display: block;
    }
    .about-left{
        display: none;
    }
    .about-right{
        position: relative;
        left: 0;
        margin: 0 8%;
    }
    .section-about-name{
        width: 100%;
        text-align: center;
        height: auto;
    }
    .about-title{
        width: 100%;
        height: auto;
        text-align: center;
    }
    .about-text{
        width: 100%;
        height: auto;
        text-align: center;
    }
    .about-button{
        width: 100%;
    }
    .about-mobile{
        display: block;
    }

    /* Courses Section */
    #csmb{
        display: block;
    }
    .course-group-box{
        display: none;
    }
    .course-box{
        position: relative;            
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0);
    }
    .mySlides{
        padding-bottom: 12%;
    }
    .courses-section-name{
        width: 100%;
        text-align: center;
        height: auto;
    }
    .courses-title{
        width: 100%;
        text-align: center;
        height: auto;
    }

    /* Why We Section */
    .whywe-bottom{
        flex-flow: row wrap ;
    }

    /* Footer Section */
    .footer-middle{
        display: none;
    }
    .footer-left{
        width: 100%;
    }
    .footer-logo{
        width: 100%;
    }
    .footer-left-subtitle{
        text-align: center;
    }
    .footer-followus{
        text-align: center;
    }
    .social-icons-grup{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mail-form{
        display: none;
    }
    .footer-contact{
        text-align: center;
    }
    .footer-right{
        width: 100%;
    }
    .about-text-span{
        display: none;
    }
    .whywe-subtitle-bottom{
        width: 100%;
    }

    /* Help in choose */
    .help-in-choose-subtitle{
        width: 100%;
    }
}    
@media (max-width:800px){
    .about-mobile-info-span{
        font-size: 14px;
        line-height: 1.2rem;
    }
    .contact-location, .contact-call{
        display: block;
        text-align: center;
    }
    .location-icon, .customer-icon{
        margin: auto;
    }
    .contact-left, .cl-subtitle, .contact-right, .support-img, .help-in-choose-text{
        width: 100%;
    }
    #helpInChoose{
        height: auto;
        padding: 10% 0;
    }
    .help-in-choose-link{
        width: 80%;
    }
    .help-in-choose-link a{
        font-size: 18px;
    }
    .help-in-choose-link:hover{
        width: 100%;
    }
    .hic-link-img{
        margin-right: 20px;
        width: 25px;
    }
    
}
@media (max-width:500px){
    #header{
        height: auto;
    }
    .header-content{
        padding-top: 35%;
    }
    .help-in-choose-link a{
        font-size: 16px;
    }
    .hic-link-img{
        width: 20px;
    }
}
/* @media (max-width:400px){
    .sidebar{
        position: fixed;
        left: 60%;
        top: 15px;
    }
} */